/* Page Layout
=================================== */
* {
  box-sizing: border-box;
}

body {
  font: normal 1.1em/1.5 sans-serif;
  color: #222;
  background-color: #edeff0;
}

html,
body,
.main-wrapper,
.content-row,
.col {
  height: 100%;
}

.main-wrapper {
  width: 90%;
  margin: auto;
}

/* Header Layout
=================================== */
.main-header {
  padding: 20px;
  display: table;
  width: 100%;
  min-height: 150px;
}

.main-logo,
.main-nav,
.main-nav li {
  display: inline-block;
}

.main-logo,
.main-nav li {
  padding: 10px 20px;
}

.main-logo {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 50px;
}

.main-logo a,
.main-nav a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 5px 15px;
  border-radius: 5px;
}

/* Column Layout
================================ */
.col {
  display: inline-block;
  padding: 20px;
  margin-right: -5px;
  vertical-align: top;
}

.primary-content {
  width: 60%;
}

.secondary-content {
  width: 40%;
}

/* Footer Layout
================================ */
.main-footer {
  text-align: center;
  padding: 20px;
}

/* Layout Element Colors
================================ */

.main-header       { background-color: #384047; }
.main-logo a       { background-color: #5fcf80; }
.main-nav a        { background-color: #3f8abf; }
.primary-content   { background-color: #caebf6; }
.secondary-content { background-color: #bfe3d0; }
.main-footer       { background-color: #b7c0c7; }

/* Media Query
================================ */
@media (max-width: 768px) {
  .main-logo,
  .main-nav,
  .main-nav li,
  .col {
    display: block;
    width: initial;
    height: initial;
    margin: initial;
  }

  .main-banner {
    display: none;
  }
}
